.catalog {
	background-image: url("../images/water_pokemon.jpg");
	background-size: cover;
	color: #FFD700;
	font-family: "Helvetica";
}

.other {
	font-family: "Helvetica";
	color: #B22222;
	background-image: url("../images/ab_background.jpg");
	background-size: cover;
	background-attachment: fixed;
}

.sections {
	list-style-type: none;
	display: inline-flex;
}

body {
	margin: 0px;
	position: relative;
}

.pokePhoto {
	height: 350px;
	width: 350px;
}

.photoDesc{
	color: #B22222;
}

.homeSelect {
	padding: 20px;
}

.homepage {
	text-align:center;
	top:50%;
	position: initial;
}

#imageNav {
}

#header {
	background-color: #1E90FF;
	font-size: 16px;
	text-align: center;
	border: 2px solid #00008B;
	border-width: 2px 0;
}

#menubar li {
	display: inline;
}

a, a:visited {
	padding: 7px;
	font-size: 24px;
	text-decoration: none;
	color: #FFD700;
}

.notCatalog, .notCatalog:visited{
	color: #B22222;
}

.notCatalog:hover {
	background-color: #FF7F50;
}

#homeSections {
	list-style-type: none;
}

#content {
	margin: 0 auto;
	padding-bottom: 100px;
}

#resetter {
	margin: 0 auto;
	display: block;
}

.pokemon {
	opacity: 0.9;
	background-color: #1E90FF;
	width: 30%;
	margin: 0 auto;
}

.searchMon {
	opacity: 0.9;
	background-color: #1E90FF;
	margin: 0 auto;
	border:3px solid #00008B;
}

#header {
	opacity: 0.9;
}

.poke_name {
	text-decoration:underline;
	font-size:24px;
}
.poke_image {
	float:right;
	transform: translateY(-60%);
	height:230px;
	width:230px;
}

#abilityAdd {
	width:350px;
}

#abilitySearch {
	width:250px;
}

.optionalAbility {
	margin-left: 5px;
}

form {
	width: 25%;
	background-color: #1E90FF;
	opacity: 0.9;
	margin: 0 auto;
}

.albumForm {
	background-color: #FF7F50;
}

#footer {
	width: 100%;
	text-align: left;
	font-size: 12px;
}